  <div class="container">
    <div class="row">
      <div class="col-md-7 col-md-offset-1 main-match-list"> <!-- Column for scrolling match history -->
        <% unless @matchList.nil? %>
          <% @matchList.each do |match| %>
          <%= render '/matches/match_show_form', player: @player, match: match %>
            </br>
          <% end %>
        <% else %>
          <!-- sorted matches are nil if there are no games in the past 2 weeks -->
          <p>No current matches found</p>
        <% end %>
      </div>
      <div class="col-md-3 static-splash"> <!-- first column to show static splash on left -->
        <div id="loading_splash">
          <% champUsed = Hash.new %> <!-- filler champUsed. Will actually need a player portrait -->
          <% champUsed[:Maokai] = 1 %>
          <% champSplash = "http://ddragon.leagueoflegends.com/cdn/img/champion/loading/#{champUsed["id"]}_0.jpg(s)" %>
          <%= image_tag(champSplash, size:"275x500") %>
        </div>
        <div id="addt_info">
          
        </div>
      </div>
    </div>
  </div>
