  <div class="container">
    <div class="row">
      <div class="col-md-7 col-md-offset-1 main-match-list"> <!-- Column for scrolling match history -->
        <% unless @matchList.nil? %>
          <% @matchList.each do |match| %>
          <%= render '/matches/match_show_form', player: @player, match: match %>
            </br>
          <% end %>
          <% else %>
          <p>No current matches found</p>
        <% end %>

      <ul><%= "Blue Team:" %></ul>
      
    </div>
  </div>
</div>