<div class="container">
    <div class="row">
        <div class="col-md-12">
            <%= save_player_matches %>
            <%= @match_short_list[2][0].match_info["gameVersion"].first(4) %>
        </div>
    </div>
</div>